#createPrompt, #createWallet, #import, #unlock, #display, #send, #about, #back{
    color: white;
    
}

#leftAlign{
    text-align: left;
}

.linkButton{
    background: none;
    border: none;
    color: white;    
}

.linkButton:hover{
    background: none;
    text-decoration: underline;
}

#compHeader{
    display: flex;
    justify-content: space-between;
}

#back{
    background: none;
    border: none;
}

.amountLabel{
    width: 100%;
    /*border: solid 1px black;*/
    display: flex;
    align-content: flex-end;
    justify-content: space-between;
    align-items: flex-end;
}

#qrbutton{
    
}

#sendBalance{
    background: none;
    border: none;
    color: gray;
}

#assetLabel{
    display: flex;
    align-items: center;
}

#networkDropdown{
    display: flex;
    justify-content: center;
    align-items: center;
}

#unlockBottom{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#aboutButton{
   margin-left: 40%;
}


#receiveAddress{
    display: flex;
    flex-direction: row;
    font-size: 9pt;
}



