@import '../../App.css';

#Select, #Dropdown{
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    
}




#Select{
    font-family: OpenSans;
}

#Dropdown{
    color: black;
}


/*View section*/






