@font-face { font-family: OpenSans; 
    src: url('../../fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf'); } 

@font-face { font-family: Lato; 
    src: url('../../fonts/Lato/Lato-Bold.ttf'); }


@media screen and (min-width: 900px) {
    #TopMenu{
        background-image: url("../../logos/content/RatioColors.png") !important;
        height: 60px !important;
        width: 100vw;
    }
}

@media screen and (max-width: 600px) {

    #TopMenu{
        background-image: url("../../logos/content/RatioColors.png") !important;
        height: 60px !important;
        width: 100vw;
    }

}

#link, #connect{
    font-size: 1.4em;
    font-family: Lato;
    font-weight: bold;
}

#connect{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 18px;
    padding: .2vh;
}

#link{
    text-decoration: none;
    color: black;
}

#link:hover{
    text-decoration: underline;
    text-decoration-thickness: 3px;
}


#centerMenu{
    margin-top: auto;
}

.networkImg{
    height: 18px;
}

#mobileMenu{
    background-image: url("../../logos/content/RatioColors.png") !important;
    background-repeat: no-repeat;
    background-position: left !important;
    height: 50vh;
    margin-top: 8vh;
}

.cardStyle{
    width: 500px;
    background-image: url("../../logos/content/RatioColors.png") !important;
    background-position: right !important;
}

.mobileCardStyle{
    width: 100vw;
    background-image: url("../../logos/content/RatioColors.png") !important;
    background-position: right !important;
}




